@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url(../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url(../public/fonts/Poppins-Bold.ttf);
}